/*--contact form start here--*/
.msg {
	color: red;
	font-size: 25px;
	font-weight: 500;
	margin-top: 24px;
	text-transform: none;
	margin-bottom: -19px;
}

.hadding {
	color: #4E4949;
	font-size: 33px;
	font-weight: 600;
}

.box {
	width: 100%;
	margin: 2% auto 0;
	border: 10px solid #eee;
	padding: 30px 30px 30px 30px;
}

#formcontainer {
	padding: 110px 0;
	background: #f9f9f9;
}

.totxt {
	top: 37px;
	font-size: 16px;
	font-weight: 600;
}

#formcontainer h1 {
	text-align: center;
	text-transform: none;
	font-family: Oxygen;
	font-weight: 300;
	color: #333;
	font-size: 34px;
}

.content {
	padding: 3em 0 5em;
}

.formcontainer {
	width: 60%;
	margin: 0 auto;
}

.content h1 {
	color: #3E3E3E;
	font-size: 3em;
	text-align: center;
}

.content-left {
	width: 46%;
	float: left;
}

.frmpadding {
	/* width:22%; */
	float:left;
}

@media only screen and (max-width: 768px) {
	
.frmpadding {
	/* width:50%; */
	float:left;
}	
	
}

.frmargin {
	margin: 0 0 16px 0;
}

.content-right {
	width: 70%;
	margin: 0 auto;
}

.forpass {
	width: 40%;
	margin: 0 auto;
}

.forpass h1 {
	text-align: left !important
}

.content_userinfo {
	width: 90%;
	margin: 0 auto;
}

.content-grids {
	margin-top: 5em;
}

.grid1 h3, .grid2 h3, .grid3 h3, .grid4 h3, .grid5 h3 {
	color: #fff;
	font-size: 2.3em;
	text-align: center;
	margin-bottom: 0.7em;
}

option {
	background-color: #fff;
	font-size: 18px;
}

.form-sec {
	padding: 2em 0em;
}

.forpass_sec {
	padding-left: 0;
}

.forpass_right {
	padding-right: 0;
}

.forpass_sec input[type="submit"] {
	width: 100% !important;
}

.form-sec p strong {
	font-weight: 600;
}

.form-sec input[type="text"], .form-sec input[type="url"], .form-sec input[type="email"]
	{
	outline: none;
	font-size: 0.9em;
	font-weight: 400;
	color: #333333;
	padding: 9px 10px 9px 15px;
	border: 2px solid #e0e0e0;
	width: 100%;
	margin: 0em 0em 1.5em 0em;
	-webkit-appearance: none;
	font-size: 14px;
	background-color: #f9f9f9;
}

.form-sec input[type="url"] {
	margin: 0em 0em 0.5em 0em;
}

.form-sec input[type="date"] {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	color: #777777;
	padding: 1px 10px 1px 15px;
	border: 2px solid #e0e0e0;
	width: 100%;
	margin: 0em 0em 1.5em 0em;
	-webkit-appearance: none;
	background-color: #f9f9f9;
}

.form-sec  textarea {
	outline: none;
	font-size: 0.9em;
	color: #0E0000;
	/*  padding: 15px 10px 15px 15px; */
	border: 2px solid #e0e0e0;
	width: 100%;
	background: #f9f9f9;
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
}

.form-sec input[type="password"] {
	outline: none;
	/* font-size: 0.9em; */
	font-weight: 400;
	color: #b4b4b4;
	padding: 10px 10px 10px 15px;
	border: 2px solid #ccc;
	width: 100%;
	margin: 0em 0em 1.5em 0em;
	-webkit-appearance: none;
	background-color: #F9f9f9;
}

select {
	padding: 9px 10px 7px 15px;
	font-size: 14px;
	font-weight: 400;
	color: #9C9999;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	display: block;
	width: 100%;
	border: 2px solid #e0e0e0;
	background: #f9f9f9;
	margin: 0em 0em 1.5em 0em;
}

.form-sec label, .form-sec p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
}

.form-sec {
	position: relative;
}

.custarrow {
	background: url(../img/do.png) no-repeat right;
}

.login-bottom {
	width: 62%;
	margin: 25px auto;
}

.form-sec label {
	font-weight: 400;
}

.progress {
	background: #ddd;
}

.progress-bar {
	background: #FF4337;
}
/* radios and checkboxes */
/**/
.input-box {
	display: inline-block;
	vertical-align: top;
	margin: 0em 0em 1.5em 0em;
}

.input-box input {
	display: none;
}

.input-box label {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	padding-left: 20px;
	line-height: 20px;
	color: #ccc;
}

.input-box label:before {
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 18px;
	font-weight: normal;
	color: #FF4337;
}

.input-box input[type='radio']+label:before {
	content: "\f10c";
}

.input-box input[type='radio']:checked+label:before {
	content: "\f192";
}

.input-box input[type='checkbox']+label:before {
	content: "\f096";
}

.input-box input[type='checkbox']:checked+label:before {
	content: "\f046";
}

input:focus {
	color: #333333;
}

::-webkit-input-placeholder {
	color: #333;
}

:-moz-placeholder { /* Firefox 18- */
	color: #333;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #333;
}

:-ms-input-placeholder {
	color: #333;
}
/*Input type File*/
.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload label {
	margin-bottom: 0 !important;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.fileUpload.btn.btn-primary {
	    background: #7D7777;
    padding: 13px 18px 8px 23px;
    /* width: 100%; */
    font-size: 14px;
    position: absolute;
    /* font-weight: 500; */
    font-family: -webkit-pictograph;
    margin-left: 12px;
}
/*Input type File*/
.form-sec input[type="submit"] {
	background: #FF4337;
	color: #FFF;
	border: none;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 0px;
	width: 100%;
	cursor: pointer;
	outline: none;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	margin: 0.8em 0em 0em 0em;
}

.form-sec textarea {
	/*  resize: none;
    height: 134px; */
	
}

.btn-link {
	font-size: 24px;
}

.grid2 {
	margin-top: 2em;
}

.check2 {
	float: left;
	margin-top: 0em;
}

.submit {
	float: right;
	width: 31%;
}

.submit input[type="submit"] {
	background: #8dcb18;
	color: #FFF;
	border: none;
	font-size: 0.9em;
	font-weight: 400;
	padding: 10px 0px;
	width: 100%;
	cursor: pointer;
	margin-top: 0em;
	outline: none;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.submit input[type="submit"]:hover, .form-sec input[type="submit"]:hover
	{
	background: #FF1304;
}

.grid4 {
	margin-top: 2em;
}

.done {
	float: right;
	width: 31%;
	text-align: center;
}

.submit2 {
	float: left;
}

.done a, .thanks a {
	background: rgba(141, 203, 24, 0.43);
	color: #FFF;
	border: none;
	font-size: 0.9em;
	font-weight: 400;
	padding: 10px 0px;
	width: 100%;
	cursor: pointer;
	margin-top: 0em;
	outline: none;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.done a:hover {
	background: #8dcb18;
}

.thanks a:hover {
	background: #8dcb18;;
}

.thanks a {
	background: rgba(217, 19, 19, 0.57);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.grid5 {
	margin-top: 2em;
}

.thanks {
	float: right;
	width: 31%;
	text-align: center;
}

.formdiv {
	width: 50%;
	float: left;
}

.formdiv label {
	width: 100%;
	float: left;
	font-size: 16px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.form-sec h4 {
	font-size: 24px;
	padding: 0 0 10px 0;
	margin-bottom: 14px;
	text-transform: none;
}

.sap_tabs_user {
	clear: both;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	background: #f9f9f9;
	padding: 2em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance: none;
}
/*--List of Job Descriptions--*/
.listpadding {
	padding: 10px;
}

.listjob {
	background: #fff;
	border: 1px solid #dddddd;
	margin-top: 16px;
}

h2.logo {
	width: 100%;
	float: left;
	background: #fff;
	height: 130px;
	text-align: center;
	line-height: 130px;
	border-right: 1px solid #ddd;
}

.row.listjob h5 {
	font-size: 24px;
	text-transform: none;
	font-weight: 300;
	font-size: 18px;
	color: #222;
}

.actlink a {
	padding: 10px;
	color: #FF4337;
}
/*--List of Job Descriptions--*/
/*--responsive--*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: none;
}

.table {
	width: 100%;
	font-size: 18px;
}

.table .table {
	background-color: #f4f4f4;
	width: 100%;
}

table.table .table tr td {
	vertical-align: middle;
}

.table .col-sm-3 {
	width: 100%;
	text-align: left;
	padding: 0;
}

.table .table h3 {
	text-align: left;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 36px;
	margin: 10px 0 0 0;
}

.table .table p {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 14px 0 0 0;
	font-weight: 400;
}

.table .table p:last-child {
	margin: 3px 0 0 0;
	font-size: 20px;
}

}
@media ( max-width : 1440px) {
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 94%;
		background-color: #f4f4f4;
	}
	.form-sec textarea {
		width: 91.7%;
	}
}

@media ( max-width : 1280px) {
	.content_userinfo {
		width: 100%;
	}
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 100%;
	}
}

@media ( max-width : 1080px) {
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 77%;
	}
	.form-sec form span {
		right: 13%;
		top: 67%;
	}
	.thanks {
		width: 40%;
	}
	.submit {
		width: 37%;
	}
	.form-sec textarea {
		width: 90%;
	}
	.copywrite {
		padding-top: 2em;
	}
	.login-check .checkbox {
		font-size: 14px;
	}
	.listpadding {
		padding: 0px;
	}
}

@media ( max-width : 1024px) {
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 94%;
	}
	.listpadding {
		padding: 0px;
	}
}

@media ( max-width : 991px) {
	.form-sec form span {
		right: 13%;
		top: 64%;
	}
	.listpadding {
		padding: 0px;
	}
	.forpass {
		width: 100%
	}
}

@media ( max-width : 800px) {
	.content h1 {
		font-size: 2.5em;
	}
	.grid1 h3, .grid2 h3, .grid3 h3, .grid4 h3, .grid5 h3 {
		font-size: 2em;
		margin-bottom: 0.5em;
	}
	.content-left, .content-right {
		width: 100%;
		float: left;
		padding: 0 0px;
	}
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 87%;
	}
	.content-right {
		margin-top: 3em;
	}
	.form-sec form span {
		right: 9%;
		top: 67%;
	}
	.copywrite {
		padding-top: 0em;
		margin-top: 3em;
	}
	.copywrite h2 {
		font-size: 2.5em;
	}
	.form-sec textarea {
		width: 93.5%;
	}
	.content-right {
		margin-left: 0;
	}
	.formdiv {
		width: 100%;
		float: left;
	}
	.form-sec input[type="text"], .form-sec input[type="password"], .formdiv label,
		.form-sec input[type="submit"] {
		width: 100%;
	}
	.frmright {
		padding-right: 10px !important;
	}
	.listpadding {
		padding: 0px;
	}
	.forpass {
		width: 100%
	}
}

@media ( max-width : 768px) {
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 100%;
	}
	.forpass {
		width: 100%
	}
}

@media ( max-width : 640px) {
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 83%;
	}
	.form-sec textarea {
		width: 100%;
	}
	.content-grids {
		margin-top: 2em;
	}
	.content h1 {
		font-size: 2.3em;
	}
	.grid1 h3, .grid2 h3, .grid3 h3, .grid4 h3, .grid5 h3 {
		font-size: 1.7em;
		margin-bottom: 0.5em;
	}
	.form-sec form span {
		right: 11%;
		top: 67%;
	}
	.content {
		padding: 3em 0 3em;
	}
	.formdiv {
		width: 100%;
		float: left;
	}
	.form-sec input[type="text"], .form-sec input[type="password"], .formdiv label,
		.form-sec input[type="submit"] {
		width: 100%;
	}
	h6, .h6 {
		text-align: left !important;
	}
	h2.logo {
		border-right: none !important;;
		border-bottom: 1px solid #ddd !important;
		margin-bottom: 10px !important;
	}
	.forpass {
		width: 100%
	}
}

@media ( max-width :480px) {
	.content h1, .copywrite h2 {
		font-size: 2em;
	}
	.content {
		padding: 2em 0 3em;
	}
	.grid1 h3, .grid2 h3, .grid3 h3, .grid4 h3, .grid5 h3 {
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
	.container {
		width: 100%;
		margin: 0 auto;
	}
	.copywrite p {
		font-size: .8em;
	}
	.formdiv {
		width: 100%;
		float: left;
	}
	.form-sec input[type="text"], .form-sec input[type="password"], .formdiv label,
		.form-sec input[type="submit"] {
		width: 100%;
	}
	h6, .h6 {
		text-align: left;
	}
	h2.logo {
		border-right: none;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
	}
	.listpadding {
		padding: 10px !important;
	}
	.forpass {
		width: 100%
	}
	.adminbtn {
		margin-top: 10px !important;
	}
	#admincontainer h1 {
		font-size: 26px;
	}
}

@media ( max-width :320px) {
	.content-left {
		margin-right: 0;
	}
	.content-right {
		margin-left: 0;
	}
	.form-sec input[type="text"], .form-sec input[type="password"] {
		width: 74%;
		font-size: 14px;
	}
	.login-check .checkbox {
		font-size: 12px;
	}
	.form-sec input.user {
		background: url(../images/user.png) no-repeat 3px 0x;
	}
	.form-sec input.lock {
		background: url(../images/lock.png) no-repeat 3px 0px;
	}
	.form-sec input.mail {
		background: url(../images/mail.png) no-repeat 3px 0px;
	}
	.form-sec input.phn {
		background: url(../images/phn.png) no-repeat 3px 0px;
	}
	.form-sec textarea {
		width: 100%;
	}
	.form-sec textarea {
		padding: 10px 10px 10px 15px;
		font-size: 0.8em;
		height: 90px;
	}
	select {
		font-size: 14px;
		background: url(../images/locat.png) no-repeat 3px 0px;
	}
	.done a, .thanks a, .form-sec input[type="submit"] {
		font-size: 18px;
	}
	.form-sec form span {
		right: 11%;
		top: 65%;
	}
	.formdiv {
		width: 100%;
		float: left;
	}
	.form-sec input[type="text"], .form-sec input[type="password"], .formdiv label,
		.form-sec input[type="submit"], li.eduresp-tab-item {
		width: 100%;
	}
	h6, .h6 {
		text-align: left;
	}
	h2.logo {
		border-right: none;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
	}
	.listpadding {
		padding: 10px !important;
	}
	.forpass {
		width: 100%
	}
	#admincontainer h1 {
		font-size: 26px;
	}
	.adminbtn {
		margin-top: 10px !important;
	}
}