#map_canvas {
	margin-bottom: 30px;
	height: 350px;
	top: 30px;
	visibility: hidden;
}

@media print {
	html, body {
		height: auto;
	}
}

@import
	url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic)
	;

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400)
	;

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body, html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
}

h1 {
	text-transform: uppercase;
}

.adOButt input{
	    padding: 10px 32px !important;
	    margin:0 !important;
}

.padd0{
	padding:0 !important;
}

.Form-section{margin-right:-1em;margin-bottom:1.5em}.Form-section+.Form-section{padding-top:1em;border-top:1px dotted rgba(0,0,0,0.1)}.Form-title{display:block;font-weight:bold;margin-bottom:.5em}.Form-label,.Form-label--tick{display:block}.Form-label--tick{position:relative;display:inline-block; margin: .5em 0 1.5em;}.Form-label-radio,.Form-label-checkbox{position:absolute;z-index:-1;width:1px;height:1px;opacity:0;overflow:hidden}.Form-label-radio+.Form-label-text,.Form-label-checkbox+.Form-label-text{cursor:pointer;margin-right:1em}.Form-label-radio+.Form-label-text::before,.Form-label-checkbox+.Form-label-text::before{font-size:.875em;display:inline-block;width:1.75em;height:1.75em;line-height:1.5;border:2px solid #ccc;margin-right:.8em;content:"\00a0";color:#333;background-clip:padding-box;background-color:#f7f7f7;text-align:center}.Form-label-radio+.Form-label-text:hover::before,.Form-label-checkbox+.Form-label-text:hover::before{border-color:black !important;box-shadow:0 0 0 0 black !important}.Form-label-radio:checked+.Form-label-text::before,.Form-label-checkbox:checked+.Form-label-text::before{background-color:#f7f7f7;border-color:black;box-shadow:0 0 0 0 black;font-family:FontAwesome;content:"\f00c"}.Form-label-radio:focus+.Form-label-text::before,.Form-label-checkbox:focus+.Form-label-text::before,.Form-label-radio:active+.Form-label-text::before,.Form-label-checkbox:active+.Form-label-text::before{border-color:#3bb8ff;box-shadow:0 0 2px 0 rgba(0,135,212,0.2)}.Form-label-radio+.Form-label-text::before{border-radius:100%}

.back {
	background: #FF4337;
	color: #FFF;
	border: none;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 0px;
	width: 50%;
	cursor: pointer;
	outline: none;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	margin: 0.8em 0em 0em 0em;
}
.edit{
	background: #FF4337;
	color: #FFF;
	border: none;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 0px;
	width: 100%;
	cursor: pointer;
	outline: none;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	margin: 0.8em 0em 0em 8em;
}

}
h1 strong {
	font-weight: 900;
}

h2 {
	line-height: 20px;
	margin: 0;
}

h3 {
	font-size: 18px;
	font-weight: 900;
}

h4 {
	text-transform: uppercase;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

h6, .h6 {
	font-size: 24px;
	text-align: right;
}

p {
	font-family: 'Open Sans', sans-serif;
}

p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #FCAC45;
}

a:hover, a:focus {
	text-decoration: none;
	color: #FCAC45;
}

hr {
	border-top: 1px solid #ddd;
	margin-bottom: 34px;
	margin-top: 0;
}

.section-title hr {
	border-color: #fcac45;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}

.section-title {
	text-align: center;
	line-height: 100px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
}

.navbar.on .navbar-nav>li>a {
	color: #fff !important;
}

.navbar-default .navbar-header .navbar-brand {
	background-image: url(../img/ITjobbers_inner_Loog.png);
}

.navbar-default.affix .navbar-header .navbar-brand {
	font-size: 14px;
	color: #f05f40;
	background-image: url(../img/ITjobbers_Loog.png);
}

#tf-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0.4);
}

#tf-menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 900;
}

#tf-menu.navbar-default .navbar-nav>li>a {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 18px;
	letter-spacing: 1px;
}

#tf-menu.navbar-default .navbar-nav>li:last-child>a {
	font-family: 'Open Sans', sans-serif;
	color: #FF4337 !important;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #fff;
	border-radius: 4px;
}

.on {
	background-color: #222222 !important;
	padding: 10px 0 15px 0 !important;
	color: #fff !important;
	background-image: url(../img/ITjobbers_Loog.png) !important;;
	background-repeat: no-repeat !important;;
	background-position: 91px 10px !important;;
}

.navbar-default {
	background-image: url(../img/ITjobbers_inner_Loog.png);
	background-repeat: no-repeat;
	background-position: 90px 21px;
}

#tf-innermenu .navbar navbar-default navbar-fixed-top .on {
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #FCAC45 !important;
	background-color: transparent;
	font-weight: 700;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #FCAC45;
	border-color: #FCAC45;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
/* Home Style */
#tf-home h1 {
	font-size: 60px;
	color: #FFF;
	font-family: Oxygen;
	font-weight: 700;
	line-height: 100px;
}

#tf-home {
	background: url(../img/01.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}

#tf-home .overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)),
		color-stop(35%, rgba(0, 0, 0, 0.66)),
		color-stop(62%, rgba(0, 0, 0, 0.55)),
		color-stop(100%, rgba(0, 0, 0, 0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
		endColorstr='#66000000', GradientType=0); /* IE6-9 */
	height: 750px;
	background-attachment: fixed;
}

#tf-home p.lead {
	color: #e3e3e3;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	width: 50%;
}

div#tf-home a {
	margin-top: 20px;
}

.content {
	position: relative;
	padding: 18% 0 20% 0;
}

.color {
	color: #fcac45;
}

a.fa.fa-angle-down {
	padding: 10px 15px;
	color: #fff;
	border: 2px solid #b4b4b4;
	border-radius: 50%;
	font-size: 24px;
	margin-top: 200px;
	transition: all 0.5s;
}

a.fa.fa-angle-down:hover {
	background: #fcac45;
	color: #ffffff;
	border: 2px solid #fcac45;
}

#tf-about .btn-primary {
	padding: 6px 42px;
}

.btn-primary {
	background-color: #FF4337;
	border: none;
	font-size: 24px;
}

.btn-primary:hover {
	background-color: #FF1304;
	border: none;
}
/* About Section */
#tf-about {
	padding: 80px 0;
	background: #f9f9f9;
}

#tf-about a {
	color: #fff;
}

ul.about-list {
	margin: 30px 0 0;
}

ul.about-list li {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}

ul.about-list li span {
	margin-right: 10px;
}

/* Team Section */
#tf-team {
	background: url(../img/03.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tf-team .overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)),
		color-stop(35%, rgba(0, 0, 0, 0.66)),
		color-stop(62%, rgba(0, 0, 0, 0.55)),
		color-stop(100%, rgba(0, 0, 0, 0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55)
		62%, rgba(0, 0, 0, 0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
		endColorstr='#66000000', GradientType=0); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
	padding: 80px 0;
}

.section-title.center {
	padding: 30px 0;
	text-align: center;
}

.section-title h2, .section-title.center h2 {
	font-weight: 300;
	font-family: Oxygen;
	text-align: center;
	color: #333;
	font-size: 36px;
	width: 55%;
	margin: 0 auto;
	line-height: normal;
}

.section-title img {
	margin-left: auto;
	margin: 20px auto 20px auto;
}

.section-title.center .line {
	border-top: 4px solid #fcac45;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}

#team {
	margin: 0 auto
}

#team .item {
	padding: 0;
	margin: 15px;
	color: #FFF;
	text-align: center;
}

img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}

#tf-team .item .thumbnail:hover>img.img-circle.team-img {
	border: 4px solid #FCAC45;
}

#tf-team .thumbnail {
	background: transparent;
	border: 0;
}

#tf-team .thumbnail .caption {
	padding: 9px;
	color: #F2F2F2;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity = 1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #FFFFFF;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span
	{
	filter: Alpha(Opacity = 100);
	opacity: 1;
	background: #FCAC45;
}

.owl-theme .owl-controls .owl-page.active span {
	background: #FCAC45;
}
/* inner page*/
#tf-innermenu {
	padding: 20px;
	transition: all 0.8s;
}

#tf-innermenu.navbar-default {
	background-color: #fff;
	border-color: #DBDBDB;
}

#tf-innermenu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 900;
}

#tf-innermenu.navbar-default .navbar-nav>li>a {
	font-family: 'Open Sans', sans-serif;
	color: #222;
	font-size: 18px;
	letter-spacing: 1px;
}

#tf-innermenu.navbar-default .navbar-nav>li:last-child>a {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	background-color: #FF4337;
	border-radius: 4px;
}

#tf-Signup {
	padding: 110px 0;
	background: #f4f4f4;
}

#tf-Signup .btn-primary {
	padding: 6px 42px;
}

#tf-Signup h1 {
	text-align: center;
	text-transform: none;
	font-family: Oxygen;
	font-weight: 300;
}
/* inner page*/

/* Footer */
nav#footertop {
	background: #3A3A3A;
	color: #ffffff;
	padding: 20px 0 15px 0;
}

ul.footer-top li {
	display: inline-block;
	margin-right: 10px;
}

ul.footer-top {
	text-align: center;
	font-size: 14px;
	color: #fff;
}

ul.footer-top a {
	color: #fff;
}

nav#footer {
	background: #222222;
	color: #ffffff;
	padding: 20px 0 15px 0;
}

nav#footer .fnav {
	vertical-align: middle;
}

ul.footer-social li {
	display: inline-block;
	margin-right: 10px;
}

nav#footer p {
	font-size: 12px;
	margin-top: 10px;
}

#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}

#footer i.fa:hover {
	background: #FCAC45;
	border-color: #FCAC45;
	color: #ffffff;
}
/* user */
#tf-user {
	padding: 110px 0;
	background: #f4f4f4;
}

#tf-Signup h1 {
	text-align: center;
	text-transform: none;
	font-family: Oxygen;
	font-weight: 300;
}

#tf-user a {
	color: #fff;
}

ul.user-list {
	margin: 30px 120px 0 0;
	float: left;
}

ul.user-list li {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}

ul.user-list li span {
	margin-right: 10px;
}

ul.uservalue-list {
	margin: 30px 0 0;
	float: left;
}

ul.uservalue-list li {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
}

ul.uservalue-list li span {
	margin-right: 10px;
}

/*----home screen sign form------*/
.form-bg {
	background: #fff;
	border-radius: 3px;
	width: 100%;
	display: block;
	padding: 15px 10px;
	color: #333;
}

.form-bg input {
	background: #fafafa;
}

.form-bg button {
	font-weight: 600;
}

.form-bg input[type=email], .form-bg input[type=password], .form-bg input[type=text],
	.form-bg [type=button], .form-bg [type=submit] {
	height: 36px;
	font-weight: 600;
}

.form-heading {
	height: 28px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background-image: url(../images/title-line.png);
	background-repeat: repeat-x;
	background-position: 0 10px;
	padding: 0;
	margin: 10px 0;
}

.form-heading span {
	background: #fff;
	padding: 5px 10px;
}

.frm-btn-social {
	width: 46%;
}

.frm-btn-fb {
	background: #3b579a;
	margin-right: 20px;
	border-color: #3b579a;
}

.frm-btn-gplus {
	background: #dd4b39;
	border-color: #dd4b39;
}

.frm-btn-fb:hover, .frm-btn-gplus:hover {
	opacity: 0.8;
}

.frm-btn-fb:hover, .frm-btn-fb:focus, .frm-btn-fb:active {
	background: #3b579a !important;
	border-color: #3b579a !important;
}

.frm-btn-gplus:hover, .frm-btn-gplus:focus, .frm-btn-gplus:active {
	background: #dd4b39 !important;
	border-color: #dd4b39 !important;
}

.frm-forgot-link {
	margin-left: 25px;
	font-weight: 600;
}
/*----footer------*/
.footer {
	width: 100%;
	height: 50px;
	display: block;
	background: none;
	position: fixed;
	bottom: 0;
	color: #fff;
}

.footer .list-inline a {
	color: #fff;
	padding-left: 15px;
}

.footer .list-inline li:before {
	content: '';
	position: absolute;
	top: 0;
	margin-top: 9px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
}

.footer .list-inline li:first-child:before {
	display: none;
}

.list-block {
	width: 800px;
	margin: 0 auto;
	display: block;
}
/*------------------css checkbox style---------------------*/
input[type=checkbox] {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

input[type=radio] {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}

input[type=checkbox]+label, input[type=radio]+label {
	display: inline-block;
	line-height: 1.5em;
	font-weight: 600;
}

input[type=checkbox]+label>span, input[type=radio]+label>span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0.25em 1em 0.25em 0.25em;
	border: 1px solid #aaaaaa;
	background: #fff;
	vertical-align: middle;
	box-shadow: inset 0 0 3px #ddd;
}

input[type=checkbox]:checked+label>span:before {
	content: "\e013";
	display: block;
	width: 1em;
	color: #555;
	font-size: 1em;
	line-height: 1.2em;
	text-align: center;
	text-shadow: 0 0 0.05em rgb(115, 153, 77);
	font-weight: normal;
	margin-left: 2px;
}

input[type=radio]:checked+label>span>span {
	display: block;
	width: 0.5em;
	height: 0.5em;
	margin: 0.125em;
	border: 0.0625em solid rgb(115, 153, 77);
	border-radius: 0.125em;
	background: rgb(153, 204, 102);
}

/*--tab--*/

/*----sap-----*/
.sap_tabs {
	clear: both;
	margin: 0 auto;
	width: 40%;
	text-align: center;
	background: #f4f4f4;
	padding: 2em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance: none;
}

.facts {
	padding: 4% 0% 0% 0%;
}

.top1 {
	margin-top: 2%;
}

.resp-tabs-list {
	width: 94%;
	margin: 0 auto;
	padding: 1em;
	background: rgb(228, 228, 228);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance: none;
}

.tab-text h3 a {
	color: #918D8D;
	font-size: 1.4em;
	text-decoration: none;
}

.resp-tab-item:first-child {
	border-left: none;
}

i.resp-tab-item.lost {
	margin: 0;
}

li.eduresp-tab-item {
	width: 32%;
}

.resp-tab-item {
	border: none;
	color: #333;
	font-size: 1em;
	background: #fff;
	cursor: pointer;
	padding: 1em 0;
	display: inline-block;
	text-align: center;
	list-style: none;
	float: left;
	width: 49%;
	margin-right: 1%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 600;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance: none;
}

.resp-tab-item:nth-child(2) {
	margin-left: 1%;
	margin-right: 0%;
}

.resp-tab-item:hover, .resp-tab-item.active {
	background: #FF4337;
	text-shadow: none;
	color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance: none;
}

.resp-tab-active {
	background: #FF4337;
	text-shadow: none;
	color: #fff;
}

.selected {
	background: #201E1E !important;
	text-shadow: none;
	color: #fff;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
}

.resp-tab-content-active {
	display: block;
}

.resp-content-active, .resp-accordion-active {
	display: block;
}

.tab-text {
	float: right;
	width: 68.5%;
	position: relative;
}

.post-meta {
	margin-top: 1em;
}

.link1 {
	font-size: 0.9em;
	color: #918A8A;
	font-style: italic;
	font-weight: 600;
}

.post-meta a:hover {
	color: red;
}

.tab-left {
	margin-bottom: 5%;
}

li.resp-tab-item.lost {
	margin: 0;
}
/*---------*/
.register input[type="text"], .register input[type="password"] {
	outline: none;
	font-size: 18px;
	font-weight: 400;
	color: #b4b4b4;
	padding: 15px 10px 15px 15px;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 95%;
	margin: 0em 0em 0em 0em;
	background: #f4f4f4;
}

.sign-up input[type="submit"] {
	background: #FF4337;
	color: #fff;
	border: none;
	font-size: 1.1em;
	font-weight: 600;
	padding: 15px 10px 15px 15px;
	width: 100%;
	cursor: pointer;
	outline: none;
	display: inline-block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-appearance: none;
	margin-top: 1.5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.sign-up input[type="submit"]:hover {
	color: #fff;
	background: #FF1304;
}
/*---------------*/
.copy-right {
	text-align: center;
	margin-top: 6em;
}

.copy-right p {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
}

.copy-right p a {
	color: #fff;
}

.copy-right p a:hover {
	text-decoration: underline;
}
/* start Profile Pic */
.img-circle {
	border: 2px solid #FF4337;
}
/* start Profile Pic */
/* start editing from here */
a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
} /* text align right */
.txt-lt {
	text-align: left;
} /* text align left */
.txt-center {
	text-align: center;
} /* text align center */
.float-rt {
	float: right;
} /* float right */
.float-lt {
	float: left;
} /* float left */
.clear {
	clear: both;
} /* clear float */
.pos-relative {
	position: relative;
} /* Position Relative */
.pos-absolute {
	position: absolute;
} /* Position Absolute */
.vertical-base {
	vertical-align: baseline;
} /* vertical align baseline */
.vertical-top {
	vertical-align: top;
} /* vertical align top */
nav.vertical ul li {
	display: block;
} /* vertical menu */
nav.horizontal ul li {
	display: inline-block;
} /* horizontal menu */
img {
	max-width: 100%;
}
/*end reset*/
.content-right h3 {
	float: right;
}

.content-right nav {
	display: inline-block;
	width: 100%;
}

.btn-default {
	padding: 7px 20px;
	margin-top: 10px;
	background-color: #FF4337;
	border: none;
	color: #fff
}

.btn-default:hover {
	background-color: #222;
	color: #fff;
}

input#uploadFile {
	outline: none;
	outline: none;
	background: none;
	color: #a3a3a3;
	width: 56%;
	padding: 10px 8px;
	border: none;
	font-size: 0.9em;
	border: 2px solid #ccc;
	margin: 0 0 1.5em;
}
/*Designed by Realstic creators(Rajni sonkar) and Coded by Realstic creators(Rajni sonkar)*/