body {
	margin-top: 100px;
	background-color: #222;
}

#admincontainer {
	background: #f9f9f9;
}

#admincontainer h1 {
	text-align: center;
	text-transform: none;
	font-family: Oxygen;
	font-weight: 300;
	color: #333;
	font-size: 34px;
}

.forpassadmin {
	width: 90%;
	margin: 0 auto;
}

.alert {
	margin-bottom: 0px;
}

.table>thead>tr>th {
	font-size: 16px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f3f3f3;
}

.adminbtn {
	margin-top: 36px !important;
}

.company_adminbtn {
	margin-top: 24px !important;
}

#admincontainer .pagination {
	padding-left: 15px !important
}

.panel {
	background: none;
	box-shadow: none;
	border: none;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
	{
	top: -10px !important;
	padding: 11px 26px;
}

.btn-success {
	background-color: #FF4337;
	border: 1px solid #FF4337;
}

.btn-success:hover, .btn-success:focus {
	background-color: #FF1304 !important;
	border: 1px solid #FF4337;
}

a.navbar-brand {
	padding: 4px 0 0 23px;
}

.navbar-inverse {
	height: 73px;
}

.navbar-inverse .navbar-collapse {
	background: #222 !important;
}

/* Top Navigation */
.top-nav {
	padding: 0 15px;
}

.top-nav>li {
	display: inline-block;
	float: left;
}

.top-nav>li>a {
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 20px;
	color: #999;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover,
	.top-nav>.open>a:focus {
	color: #fff;
	background-color: #000;
}

.top-nav>.open>.dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
	white-space: normal;
}

ul.message-dropdown {
	padding: 0;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

li.message-preview {
	width: 275px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
	padding-top: 15px;
	padding-bottom: 15px;
}

li.message-footer {
	margin: 5px 0;
}

ul.alert-dropdown {
	width: 200px;
}

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 10px !important;
	background-color: #f9f9f9;
	position: relative;
	top: 24px !important;
	min-height: 560px;
}

.huge {
	font-size: 50px;
	line-height: normal;
}

.side-nav>li>ul {
	padding: 0;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}

.side-nav>li>ul>li>a:hover {
	color: #fff;
}

/* Flot Chart Containers */
.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

/* Custom Colored Panels */
.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green>.panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green>a {
	color: #5cb85c;
}

.panel-green>a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red>.panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red>a {
	color: #d9534f;
}

.panel-red>a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow>.panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow>a {
	color: #f0ad4e;
}

.panel-yellow>a:hover {
	color: #df8a13;
}

.paging-nav {
	text-align: right;
	padding-top: 2px;
}

.paging-nav a {
	margin: auto 1px;
	text-decoration: none;
	display: inline-block;
	padding: 1px 7px;
	background: #91b9e6;
	color: white;
	border-radius: 3px;
}

.paging-nav .selected-page {
	background: #187ed5;
	font-weight: bold;
}
/*pagination*/
.paging-nav {
	text-align: left;
	padding-top: 2px;
}

.paging-nav a {
	margin: auto 1px;
	text-decoration: none;
	display: inline-block;
	padding: 1px 7px;
	background: #fff;
	color: #333;
	border-radius: 3px;
	border: 1px solid #dddddd;
}

.paging-nav .selected-page {
	background: #FF4337;
	font-weight: bold;
	color: #fff;
	border: none;
}

/*pagination*/
@media ( min-width :768px) {
	body {
		margin-top: 50px;
	}
}

@media ( max-width : 640px) {
	.navbar-inverse {
		height: 153px
	}
	.top-nav {
		padding: 0 15px;
		margin-top: 30px;
	}
}

@media ( min-width :768px) {
	#wrapper {
		padding-left: 225px;
	}
	#page-wrapper {
		padding: 10px;
	}
}

/* Side Navigation */
@media ( min-width :768px) {
	.side-nav {
		position: fixed;
		top: 74px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		background-color: #222;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
	.side-nav>li>a {
		width: 225px;
	}
	.side-nav li a:hover, .side-nav li a:focus {
		outline: none;
		background-color: #FF4337 !important;
	}
}

@media screen and (max-width: 480px) {
	.navbar-inverse {
		height: 153px
	}
	.top-nav {
		padding: 0 15px;
		margin-top: 30px;
	}
}
/*Designed by Realstic creators(Rajni sonkar) and Coded by Realstic creators(Rajni sonkar)*/